:root {
  --btn-font-size: 1rem;
  --btn-padding-x: var(--space-sm);
  --btn-padding-y: var(--space-xxs);
  --btn-radius: 50px;
}

.btn {
  cursor: pointer;
  font-family: var(--font-primary);
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.5px;
  @include fontSmooth;
  box-shadow: 0px 1px 1px 0px alpha(var(--color-black), 0.12);
  outline: none;
  outline-offset: 10px;
  transition: all 0.3s ease;
  will-change: transform;

  &:hover {
    box-shadow: var(--shadow-md), var(--shadow-sm);
    transition: all 0.3s ease;
  }

  &:focus {
    box-shadow: var(--shadow-xs);
    outline: none;
  }

  &:active {
    box-shadow: var(--shadow-sm), var(--shadow-xs);
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background: var(--color-primary-darker);
  color: var(--color-white);
  font-family: var(--font-secondary);
  @include fontSmooth;

  &:hover {
    background: var(--color-primary-dark);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background: var(--color-contrast-lower);
  color: var(--color-contrast-higher);
  border: 1px solid var(--color-contrast-low);
  font-family: var(--font-secondary);
}

.btn--accent {
  background: var(--color-accent-dark);
  color: var(--color-white);
  font-family: var(--font-secondary);
  @include fontSmooth;

  &:hover {
    background: var(--color-accent-dark);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

.btn--secondary {
  background: var(--color-tertiary);
  color: var(--color-white);
}

.btn--text {
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 1px;
  @include fontSmooth;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  background: var(--color-primary);
  opacity: 0.6;
  cursor: not-allowed;
  padding: var(--space-xxs) var(--space-sm);
  font-family: var(--font-secondary);
}

// size
.btn--sm {
  padding: var(--space-xxxs) var(--space-xs);
  font-family: var(--font-secondary);
  font-size: var(--text-sm);
}

.btn--md {
  padding: var(--space-xs) var(--space-sm);
  font-family: var(--font-secondary);
  font-size: 1.125rem;
}

.btn--lg {
  padding: var(--space-sm) var(--space-md);
  font-family: var(--font-secondary);
  font-size: var(--text-md);
}
