<div class="padding-y-sm padding-top-lg@md padding-bottom-sm@md">
  <fieldset>
    <legend class="form-legend margin-bottom-xs text-lg text-xl@md font-bold">Napravi set i
      uštedi
    </legend>
    <div class="grid gap-xxxs gap-xs@md js-choice-imgs" role="group">

      <div class="choice-img bg col-6 js-choice-img js-tab-focus" role="checkbox" aria-checked="true" tabindex="0"
        aria-label="Option One">
        <figure class="media-wrapper media-wrapper--4:3">
          <img class="block width-100%" src="{{ 'set-aktivni-ugalj.jpg' | asset_url }}" alt="Image description">
        </figure>

        <div class="padding-xxs text-component">
          <h4 class="text-base">Aktivni ugalj</h4>
          <p class="text-sm color-contrast-medium">2,890.00 RSD</p>
        </div>

        <div class="choice-img__input" aria-hidden="true">
          <svg class="icon" viewBox="0 0 16 16">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="M2 8l4 4 8-8" />
          </svg>
        </div>
      </div>

      <div class="choice-img bg col-6 js-choice-img js-tab-focus" role="checkbox" aria-checked="false" tabindex="0"
        aria-label="Option Two">
        <figure class="media-wrapper media-wrapper--4:3">
          <img class="block width-100%" src="{{ 'set-pro-aparat-sa-led-lampom.jpg' | asset_url }}"
            alt="Image description">
        </figure>

        <div class="padding-xxs text-component">
          <h4 class="text-base">Pro aparat sa LED lampom</h4>
          <p class="text-sm color-contrast-medium">3,490.00 RSD</p>
        </div>

        <div class="choice-img__input" aria-hidden="true">
          <svg class="icon" viewBox="0 0 16 16">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="M2 8l4 4 8-8" />
          </svg>
        </div>
      </div>

    </div>
  </fieldset>
</div>
<a href="cart.html" class="btn btn--primary flex flex-grow" aria-controls="cart-drawer">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="margin-right-xxs">
    <title>Dodaj u korpu</title>
    <g>
      <path fill="#ffffff"
        d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19zM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74A3.007 3.007 0 0 0 3.92 3H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7zM16.5 19a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5z">
      </path>
    </g>
  </svg>
  Dodaj označeno u korpu</a>