<div class="notice notice--v2 js-notice" style="display:none; z-index: 20 !important;" id="popup">
  <div class="notice__banner bg padding-y-sm shadow-md">
	<div class="container max-width-xl">
	  <div class="flex justify-between items-center@sm">
		<p class="text-sm">Korišćenjem našeg website-a, slažeš se sa korišćenjem kolačića opisanim u našim
		  <a href="/pages/opsti-uslovi">Uslovima korišćenja</a>.</p>

		<button class="btn btn--primary reset notice__close-btn margin-left-sm js-notice__hide-control" id="popup-close">
		  Slažem se
		</button>
	  </div>
	</div>
  </div>
</div>
