.feature-v5 {
  --feature-media-offset: var(--space-xxl); // image offset
  --feature-content-media-gap: var(--space-lg); // space between text and image
}

.feature-v5__content {
  background-color: var(--color-rozika);
  padding-bottom: calc(var(--feature-content-media-gap) + var(--feature-media-offset));
}

.feature-v5__media {
  margin-top: calc(-1 * var(--feature-media-offset));
}
