.hide-nav {
  position: fixed !important;
  top: 0;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s;
}

.hide-nav--fixed {
  background-color: transparent;
}

.hide-nav--has-bg {
  background-color: var(--color-bg);
}

.hide-nav--off-canvas { // main header is off-canvas
  opacity: 0;
}
