:root {
  --feature-v8-gap: var(--space-lg); // gap between text and figure elements
}

.feature-v8 {
  position: relative;
  z-index: 1;
}

.feature-v8__main-content {
  padding-bottom: calc(var(--feature-v8-gap) * 2);
}

.feature-v8__sub-content {
  margin-top: calc(var(--feature-v8-gap) * -1);
}
