.product-v3__panel {
  position: sticky;
  top: var(--space-md);
}

.product-v3__cta-clone { // CTA clone visible on smaller screens
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  background-color: alpha(var(--color-bg), 0.9);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-lg);
  z-index: var(--zindex-fixed-element);
  transform: translateY(100%);
  visibility: hidden;
  transition: transform .3s, visibility 0s 0.3s;
}

.product-v3__cta-clone--is-visible {
  transform: translateY(0);
  visibility: visible;
  transition: transform .3s;
}
