.carousel-v2 { // custom properties inherited from Carousel
  --carousel-grid-gap: var(--space-md); // distance among items
  --carousel-item-auto-size: 320px; // item min-width
  --carousel-transition-duration: 0.5s; // animation duration

  //.carousel__wrapper:hover .carousel-v2__control { // show arrows on hover
  //  opacity: 1;
  //}

  .carousel__wrapper .carousel-v2__control { // show arrows on hover
    opacity: 1;
  }
}

// arrows
.carousel-v2__control {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: alpha(var(--color-primary), 0.7);
  backdrop-filter: blur(10px);
  pointer-events: auto;
  cursor: pointer;
  margin: 0 var(--space-xxs);
  // align icon
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;

  &:hover {
    background-color: alpha(var(--color-contrast-higher), 0.9);
  }

  &[disabled] {
    display: none;
  }

  &:active {
    transform: translateY(2px);
  }

  .icon {
    display: block;
    color: var(--color-bg);
  }

  @include breakpoint(md) {
    // hide arrows
    opacity: 0;
  }
}

// carousel navigation
.carousel-v2__navigation {
  display: none;
  grid-template-columns: repeat(auto-fit, 52px); // = button width 👇
  grid-gap: var(--space-xs);
  justify-content: center;
  align-items: center;
  margin-top: var(--space-sm);
}

@include breakpoint(md) { // show the navigation past the medium breakpoint
  .carousel-v2__navigation {
    display: grid;
  }
}

.carousel-v2__navigation-item {
  display: inline-block; // grid fallback
  margin: 0 var(--space-xxxs); // grid fallback

  @supports (grid-area: auto) {
    margin: 0;
  }

  &:not(.carousel-v2__navigation-item--selected) button {
    cursor: pointer;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px; // ⚠️ button width
    height: 24px; // increase clickable area
  }

  button::before { // visible rectangle element
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: alpha(var(--color-contrast-high), 0.2);
  }

  &:not(.carousel-v2__navigation-item--selected) button:hover::before {
    background-color: alpha(var(--color-contrast-high), 0.4);
    transition: .2s;
  }
}

.carousel-v2__navigation-item--selected button::before {
  background-color: alpha(var(--color-contrast-high), 1);
}
