.t-article-v3__hero {
    background-color: var(--color-contrast-lower);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: var(--space-xxl) 0;
  }

