<section>
	<div class="container max-width-adaptive-sm margin-top-xl@md margin-bottom-lg">
		<div class="margin-bottom-lg">
			<h1 class="text-center">Isporuka</h1>
		</div>

		<ol class="items-center ">
			<li class="text-points__item col margin-bottom-sm">
				<div class="text-component">
					<h3 class="text-points__title">Srbija</h3>
					<p>Ukoliko ste poručili paket radnim danom pre 17h i paket Vam nije stigao u roku od 24h, pozovite
						call centar POST EXPRESS-a, na broj <a class="link-fx-5" href="tel:+381113607607">
							011 3607607
						</a>, <a class="link-fx-5" href="tel:0800100808">
							0800100808

						</a> ili proverite status pošiljke na
						sajtu <a class="link-fx-5" href="https://www.posta.rs/">
							www.posta.rs
						</a> <br> Ukoliko ste u nemogućnost da preuzmete paket od kurira, isti će vas čekati u Vama
						najbližoj pošti
						narednih pet dana.</p>

					<p>Ukoliko ste poručili paket radnim danom posle 17h i paket Vam nije stigao u roku od 48h, pozovite
						call centar POST EXPRESS-a, na broj<a class="link-fx-5" href="tel:+381113607607">
							011 3607607
						</a>, <a class="link-fx-5" href="tel:0800100808">
							0800100808

						</a> ili proverite status pošiljke na
						sajtu <a class="link-fx-5" href="https://www.posta.rs/">
							www.posta.rs
						</a> <br> Ukoliko ste u nemogućnost da preuzmete paket od kurira, isti će vas čekati u Vama
						najbližoj pošti
						narednih pet dana.</p>

					<p>Ukoliko ste poručili paket vikendom, a isti nije isporučen do utorka, pozovite call centar POST
						EXPRESS-a, na broj <a class="link-fx-5" href="tel:+381113607607">
							011 3607607
						</a>, <a class="link-fx-5" href="tel:0800100808">
							0800100808

						</a> ili proverite status pošiljke na
						sajtu <a class="link-fx-5" href="https://www.posta.rs/">
							www.posta.rs
						</a> <br> Ukoliko ste u nemogućnost da preuzmete paket od kurira, isti će vas čekati u Vama
						najbližoj pošti
						narednih pet dana.</p>


				</div>
			</li>

			<li class="text-points__item col margin-bottom-sm">
				<div class="text-component">
					<h3 class="text-points__title">Hrvatska</h3>
					<p>Rok isporuke nije zagarantovan zbog usklađivanja sa procedurama EU. Paket možete očekivati u roku od 30
						radnih dana. Trenutno radimo na rešavanju logistike ka EU zemljama. Hvala na strpljenju
					</p>
					<p>Ukoliko se Vaš paket ne nalazi u pošti, obratite nam se na <a class="link-fx-5"
							href="mailto:info@thehellosmile.rs">
							info@thehellosmile.rs

						</a></p>
				</div>
			</li>

			<li class="text-points__item col margin-bottom-sm">
				<div class="text-component">
					<h3 class="text-points__title">Bosna i Hercegovina
					</h3>
					<p>Rok isporuke za BiH je 1 do 3 radna dana i ukoliko dostava ne bude uspešna, možete proveriti šta
						se dešava sa Vašom pošiljkom na <a class="link-fx-5" href="mailto:info@thehellosmile.rs">
							info@thehellosmile.rs

						</a></p>
					<p>*kuriri ne dolaze na adresu ukoliko se ne javite na telefon

					</p>
				</div>
			</li>

			<li class="text-points__item col margin-bottom-sm">
				<div class="text-component">
					<h3 class="text-points__title">Crna Gora</h3>
					<p>Ukoliko Vam paket nije stigao od trenutka porudžbine u roku od 4 radna dana, možete ga preuzeti u
						pošti narednih pet radnih dana.
					</p>
					<p>Ukoliko se Vaš paket ne nalazi u pošti, obratite nam se na <a class="link-fx-5"
							href="mailto:info@thehellosmile.rs">
							info@thehellosmile.rs

						</a></p>
				</div>
			</li>

			<li class="text-points__item col">
				<div class="text-component">
					<h3 class="text-points__title">Slanje Worldwide
					</h3>
					<p>Informacije o broju pošiljke, kao i načinu praćenja pošiljke dobićete putem mail-a. U slučaju
						neuspešne dostave na kućnu adresu, molimo da odete do pošte i podignete paket. Ukoliko paket
						nije preuzet, trošak ponovnog slanja, ide na teret kupca. Za sve dodatne informacije stojimo Vam
						na raspolaganju putem mail-a <a class="link-fx-5" href="mailto:info@thehellosmile.rs">
							info@thehellosmile.rs

						</a></p>
				</div>
			</li>


		</ol>
	</div>
</section>