<section class="feature-v9 ">
	<div class="grid">
		<div class="feature-v9__block col-6@md" style="background-image: url({{ 'slika-usluge-1.png' | asset_url }});">
			<div class="feature-v9__content text-component text-left max-width-xxxs">
				<p>Usluga broj 1</p>
				<h1>Brendiranje proizvoda</h1>
				<a href="" class="btn btn--primary  text-center">Saznaj više</a>
			</div>
		</div>

		<div class="feature-v9__block col-6@md" style="background-image: url({{ 'slika-usluge-2.jpg' | asset_url }});">
			<div class="feature-v9__content text-component text-left max-width-xxxs">
				<p>Usluga broj 2</p>
				<h1>Poklon paketi</h1>
				<a href="" class="btn btn--primary  text-center">Saznaj više</a>


			</div>
		</div>
	</div>
</section>
<div class="container max-width-adaptive-lg margin-bottom-lg">
	<div class="grid gap-lg ">
		<div class="col-6@md  order-1@xl order-2@md order__1">
			<p class="color-primary-lighter text-xs">Usluga broj 1</p>
			<h1 class="font-light margin-bottom-md">Uslužno brendiranje Vaših proizvoda</h1>
			<div class="grid gap-md margin-bottom-md ">
				<div class=" height-xxl col-6">
					<h2 class="margin-bottom-sm">World-class</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>
				<div class=" height-xxl col-6">
					<h2 class="margin-bottom-sm">Professional</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>

			</div>

			<div class="grid gap-md margin-bottom-md ">
				<div class=" height-xxl col-6">
					<h2 class="margin-bottom-sm">Standards</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>
				<div class=" height-xxl col-6">
					<h2 class="margin-bottom-sm">Inovation</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>

			</div>
			<a href="" class="btn btn--primary  text-center">Kontakt</a>

		</div>

		<div class="col-6@md  order-2@xl order-1@md order__2">
			<figure>
				<img class="block width-100%" src="{{ 'slika-usluge-3.jpg' | asset_url }}" alt="Image description">
			</figure>
		</div>
	</div>

</div>

<div class="container max-width-adaptive-lg margin-bottom-lg">
	<div class="grid gap-lg ">
		<div class="col-6@md ">
			<figure>
				<img class="block width-100%" src="{{ 'slika-usluge-4.jpg' | asset_url }}" alt="Image description">
			</figure>
		</div>
		<div class="col-6@md ">

			<p class="color-primary-lighter text-xs">Usluga broj 2</p>
			<h1 class="font-light margin-bottom-md">Poklon paketi za Vaše zaposlene</h1>
			<div class="grid gap-md margin-bottom-md ">
				<div class=" height-xxl col-6">
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M18 4H15.82C15.93 3.69 16 3.35 16 3C16 1.34 14.66 0 13 0C11.95 0 11.04 0.54 10.5 1.35L10 2.02L9.5 1.34C8.96 0.54 8.05 0 7 0C5.34 0 4 1.34 4 3C4 3.35 4.07 3.69 4.18 4H2C0.89 4 0.00999999 4.89 0.00999999 6L0 17C0 18.11 0.89 19 2 19H18C19.11 19 20 18.11 20 17V6C20 4.89 19.11 4 18 4ZM13 2C13.55 2 14 2.45 14 3C14 3.55 13.55 4 13 4C12.45 4 12 3.55 12 3C12 2.45 12.45 2 13 2ZM7 2C7.55 2 8 2.45 8 3C8 3.55 7.55 4 7 4C6.45 4 6 3.55 6 3C6 2.45 6.45 2 7 2ZM18 17H2V15H18V17ZM18 12H2V6H7.08L5 8.83L6.62 10L9 6.76L10 5.4L11 6.76L13.38 10L15 8.83L12.92 6H18V12Z"
							fill="#75C3E9" />
					</svg>

					<h2 class="margin-bottom-sm">Paket br.1</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>
				<div class=" height-xxl col-6">
					<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M10 8H12V5H15V3H12V0H10V3H7V5H10V8ZM6 17C4.9 17 4.01 17.9 4.01 19C4.01 20.1 4.9 21 6 21C7.1 21 8 20.1 8 19C8 17.9 7.1 17 6 17ZM16 17C14.9 17 14.01 17.9 14.01 19C14.01 20.1 14.9 21 16 21C17.1 21 18 20.1 18 19C18 17.9 17.1 17 16 17ZM6.17 13.75L6.2 13.63L7.1 12H14.55C15.3 12 15.96 11.59 16.3 10.97L20.16 3.96L18.42 3H18.41L17.31 5L14.55 10H7.53L7.4 9.73L5.16 5L4.21 3L3.27 1H0V3H2L5.6 10.59L4.25 13.04C4.09 13.32 4 13.65 4 14C4 15.1 4.9 16 6 16H18V14H6.42C6.29 14 6.17 13.89 6.17 13.75Z"
							fill="#75C3E9" />
					</svg>
					<h2 class="margin-bottom-sm">Paket br.2</h2>
					<p class="font-light">Completely restore data rather than high standard</p>
				</div>

			</div>

			<a href="" class="btn btn--primary margin-top-xl text-center">Kontakt</a>

		</div>


	</div>

</div>

