<section class="padding-top-header position-relative z-index-1 bg-primary" style="margin-top: 70px;">
	<div class="container max-width-adaptive-lg padding-y-md padding-y-xl@md position-relative z-index-2">
		<div class="text-center">
			<p class="text-uppercase text-xs letter-spacing-lg color-white opacity-70%">Hello Smile</p>
			<h1 class="text-xxxl@md color-white">Najčešća pitanja i odgovori</h1>
		</div>
	</div>
	<figure class="bg-decoration z-index-1 radius-md" aria-hidden="true">
		<svg class="bg-decoration__svg color-contrast-low" viewBox="0 0 1920 450" fill="none">
			<circle class="blend-overlay" opacity="0.5" cx="1745" cy="159" r="175"
				fill="url(#bg-decoration-v1-fx-4-radial-1)" />
			<circle opacity="0.5" r="65" transform="matrix(-1 0 0 1 240 110)" fill="url(#bg-decoration-v1-fx-4-radial-2)" />
			<g opacity="0.5" filter="url(#bg-decoration-v1-fx-4-filter-1)">
				<circle r="26" transform="matrix(-1 0 0 1 298 386)" fill="var(--color-primary)" />
			</g>
			<circle class="blend-overlay" opacity="0.5" cx="1470" cy="-299" r="439"
				fill="url(#bg-decoration-v1-fx-4-radial-3)" />
			<defs>
				<filter id="bg-decoration-v1-fx-4-filter-1" x="267" y="355" width="62" height="62" filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix" />
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
					<feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur" />
				</filter>
				<radialGradient id="bg-decoration-v1-fx-4-radial-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(1745 159) rotate(90) scale(175)">
					<stop stop-color="var(--color-primary)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-primary)" />
				</radialGradient>
				<radialGradient id="bg-decoration-v1-fx-4-radial-2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="scale(65)">
					<stop stop-color="var(--color-accent)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-accent)" />
				</radialGradient>
				<radialGradient id="bg-decoration-v1-fx-4-radial-3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(1470 -299) rotate(90) scale(439)">
					<stop stop-color="var(--color-accent)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-accent)" />
				</radialGradient>
			</defs>
		</svg>
	</figure>
</section>

<div class="position-relative z-index-1 padding-top-md padding-top-xl@md margin-bottom-sm">
	<div class="container max-width-adaptive-lg">
		<!-- quick links - cards -->
		<div class="margin-bottom-lg">
			<div class="grid gap-sm">
				<a href="#opsta-pitanja" class="card-v8 bg col-6 col-3@lg">
					<figure class="media-wrapper">
						<img src="{{ 'opsta-pitanja.jpg' | asset_url }}" alt="Image description">
					</figure>

					<footer class="padding-xs">
						<div class="text-component text-center">
							<h4><span class="card-v8__title">Opšta pitanja</span></h4>
						</div>
					</footer>
				</a>

				<a href="#koriscenje" class="card-v8 bg col-6 col-3@lg">
					<figure class="media-wrapper">
						<img src="{{ 'koriscenje.jpg' | asset_url }}" alt="Image description">
					</figure>

					<footer class="padding-xs">
						<div class="text-component text-center">
							<h4><span class="card-v8__title">Korišćenje</span></h4>
						</div>
					</footer>
				</a>

				<a href="#placanje" class="card-v8 bg col-6 col-3@lg">
					<figure class="media-wrapper">
						<img src="{{ 'placanje.jpg' | asset_url }}" alt="Image description">
					</figure>

					<footer class="padding-xs">
						<div class="text-component text-center">
							<h4><span class="card-v8__title">Plaćanje</span></h4>
						</div>
					</footer>
				</a>

				<a href="#isporuka" class="card-v8 bg col-6 col-3@lg">
					<figure class="media-wrapper">
						<img src="{{ 'isporuka.jpg' | asset_url }}" alt="Image description">
					</figure>

					<footer class="padding-xs">
						<div class="text-component text-center">
							<h4><span class="card-v8__title">Isporuka</span></h4>
						</div>
					</footer>
				</a>
			</div>
		</div>

		<div class="position-relative z-index-1 padding-y-sm">
			<div class="container max-width-adaptive-lg">
				<div class="grid gap-md">
					<div class="col-3@md col-2@lg display@md">
						<nav class="toc toc--sticky text-base@md js-toc">
							<ul class="toc__list js-toc__list gap-xs">
								<li><a href="#opsta-pitanja" class="toc__link js-smooth-scroll">Opšta pitanja</a></li>
								<li><a href="#koriscenje" class="toc__link js-smooth-scroll">Korišćenje</a></li>
								<li><a href="#placanje" class="toc__link js-smooth-scroll">Plaćanje</a></li>
								<li><a href="#isporuka" class="toc__link js-smooth-scroll">Isporuka</a></li>
							</ul>
						</nav>
					</div>

					<div class="toc-content js-toc-content col-6@md col-7@lg">
						<div class="grid gap-lg">
							<div>
								<h2 id="opsta-pitanja" class="text-md margin-bottom-xs">Opšta pitanja</h2>

								<ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on"
									data-multi-items="on" data-version="v2">

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Zašto je baš HelloSmile olovka pogodna za Vaš osmeh?
											</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Mi verujemo da korišćenje našeg produkta treba da predstavlja
													zadovoljstvo isto onoliko koliko i rezultat. Unapređena HelloSmile olovka sadrži dvostruki
													sistem delovanja, omogućava higijenski način upotrebe, savršeno doziranje seruma za
													izbeljivanje prilikom svake pojedinačne upotrebe kao i lako nanošenje seruma na sve vidljive
													oblasti Vašeg osmeha.</p>
												<p>Koristimo isključivo prirodne sastojke u cilju da održimo Vaše zube ne samo beljim, već i
													zdravijim. Time se postiže zaštita Vaših zuba, jačanje gleđi i smanjenje naslaga.</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Šta je to novo u vezi Hello Smile olovke?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Apsolutno sve!</p>
												<p> Počevši od ambalaže produkta, dizajna same olovke i nove poboljšane formule.
													Uložili smo dosta vremena, truda i znanja kako bismo Vam predstavili savršen produkt koji će
													ispuniti sva Vaša očekivanja!</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Koliko dugo će trajati moja HelloSmile olovka?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Hello Smile olovka će trajati i kod najzahtevnijih korisnika 4-6 nedelja svakodnevnog
													korišćenja.</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Koliko je vremena potrebno da HelloSmile olovka izbeli moje zube?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Primetna razlika se vidi nakon 1-4 dana, zavisno od trenutne beline Vaših zuba.
													Klinički je dokazano da unapređena HelloSmile olovka ima takvo dejstvo na Vaše zube da ih
													može izbeliti i do osam nijansi.
													Jednom izbeljeni, Vaši zubi će zadržati belinu sve dok redovno odrzavate higijenu Vaših
													zuba.</p>
											</div>
										</div>
									</li>

								</ul>
							</div>

							<div>
								<h2 id="koriscenje" class="text-md margin-bottom-xs">Korišćenje</h2>

								<ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on"
									data-multi-items="on" data-version="v2">

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Kako se koristi HelloSmile olovka?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">

												<p>Naša olovka bez peroksida je baš laka za upotrebu. Aktivira se tako što skinete poklopac a
													onda
													mehanizam na dnu okrećete dok se gel ne pojavi na četkici. I naravno, operite zube pre
													korišćenja.
													Poželjno bi bilo da maramicom obrišete zube kako bi bili potpuno suvi. Posle, nanesite tanak
													sloj
													gela na sve zube i držite usne razdvojene 1-2 minuta kako gel ne bi skliznuo. Ako vam ovaj
													način
													predstavlja problem, probajte da opustite usne i nekoliko minuta dišite kroz zube kako bi se
													brže
													osušio gel.
													20 minuta nemojte ništa da jedete ili pijete, a posle jednostavno isperite usta vodom.</p>
											</div>
										</div>
									</li>
									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Koliko puta dnevno treba da koristim HelloSmile olovku?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Proizvod treba koristiti jednom dnevno.
												</p>
											</div>
										</div>
									</li>
									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Penušanje na zubima – Zašto se to dešava?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Ne budite zabrinuti, to je normalno. Naša formula sadrži agense koji
													čiste i jačaju Vaše zube, tako da kada dođe u kontakt sa bakterijama, gel će početi da
													penuša.</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Progutao/progutala sam malo gela, šta da radim?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Ne budite zabrinuti, progutani gel Vam neće izazvati nikakve
													negativne efekte
													po Vaše zdravlje i organizam.</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Da li je izbeljivanje zuba unapređenom HelloSmile olovkom zaista
												bezbedno?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Naravno. Naša nova poboljšana formula sadrži isključivo bezopasne sastojke koji neće
													naškoditi Vašim zubima ili zubnoj gleđi. Klinički je ispitana i odobrena.</p>
											</div>
										</div>
									</li>

								</ul>
							</div>

							<div>
								<h2 id="placanje" class="text-md margin-bottom-xs">Plaćanje</h2>

								<ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on"
									data-multi-items="on" data-version="v2">

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Kako poručiti i kako platiti?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Naručivanje se vrši preko naše online prodavnice ili telefonom. Vašu
													narudzbinu ćete platiti pouzećem (tek kad Vam kurir dostavi paket na
													Vašu adresu) u Vašoj valuti (u valuti Vaše zemlje). U Hrvatskoj je isključivo
													platnim karticama.</p>
											</div>
										</div>
									</li>

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Koliko košta poštarina za moju zemlju?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Poštarina u Srbiji, Crnoj Gori, Hrvatskoj i Bosni i Hercegovini je
													besplatna.
													Plaćate samo navedenu cenu proizvoda, bez ikakvih dodatnih troskova.
												</p>
											</div>
										</div>
									</li>


								</ul>
							</div>

							<div>
								<h2 id="isporuka" class="text-md margin-bottom-xs">Isporuka</h2>

								<ul class="accordion-v2 flex flex-column gap-xxxs js-accordion" data-animation="on"
									data-multi-items="on" data-version="v2">

									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Koliko vremena je potrebno da paket stigne na moju željenu adresu?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p>Srbija</p>
												<p>Zagarantovani rok isporuke od trenutka porudžbine je 24 časa ukoliko poručite radnim danom
													do 16h. Ukoliko poručite radnim danom posle 16h rok isporuke je 48 časova. Sve narudžbine
													primljene u subotu i nedelju, šaljemo u ponedeljak i biće isporučene u utorak. Pozvaće Vas
													kurir pre nego što Vam dostavi paket na kućnu adresu.</p>
												<p>Hrvatska, Bosna i Hercegovina i Crna Gora
												</p>
												<p>Zagarantovani rok isporuke je od 1 do 3 radna dana. Bićete obavešteni oko isporuke
													paketa.</p>
											</div>
										</div>
									</li>


									<li class="accordion-v2__item bg shadow-sm radius-md  js-accordion__item">
										<button class="reset accordion-v2__header padding-y-sm padding-x-sm padding-x-md@md js-tab-focus"
											type="button">
											<span class="text-md@md">Gde je moj paket?</span>

											<svg class="icon accordion-v2__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
												<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
													stroke-miterlimit="10">
													<path d="M2 2l12 12" />
													<path d="M14 2L2 14" />
												</g>
											</svg>
										</button>

										<div class="accordion-v2__panel js-accordion__panel">
											<div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
												<p><a href="https://tryhellosmile.com/pages/isporuka">Klikni za odgovor.</a></p>
											</div>
										</div>
									</li>

								</ul>
							</div>

						</div>
					</div>

					<div class="col-3@md">
						<div class="margin-bottom-md">
							<h4 class="margin-bottom-xs">Adresa</h4>
							<p class="color-contrast-medium text-base">„SMILEON TEETH“ DOO</p>
							<p class="color-contrast-medium text-base">Bulevar Mihaila Pupina 10ž/353<br>
								11000 Beograd<br>
								Republika Srbija</p>
						</div>

						<div class="margin-bottom-md">
							<h4 class="margin-bottom-xs">Socials</h4>
							<ul class="grid gap-xs text-base">
								<li>
									<a href="https://www.instagram.com/tryhellosmile/" class="flex items-center">
										<svg class="icon icon--md margin-right-xxs" viewBox="0 0 32 32">
											<title>Pratite nas na Instagram</title>
											<path
												d="M16,3.7c4,0,4.479.015,6.061.087a6.426,6.426,0,0,1,4.51,1.639,6.426,6.426,0,0,1,1.639,4.51C28.282,11.521,28.3,12,28.3,16s-.015,4.479-.087,6.061a6.426,6.426,0,0,1-1.639,4.51,6.425,6.425,0,0,1-4.51,1.639c-1.582.072-2.056.087-6.061.087s-4.479-.015-6.061-.087a6.426,6.426,0,0,1-4.51-1.639,6.425,6.425,0,0,1-1.639-4.51C3.718,20.479,3.7,20.005,3.7,16s.015-4.479.087-6.061a6.426,6.426,0,0,1,1.639-4.51A6.426,6.426,0,0,1,9.939,3.79C11.521,3.718,12,3.7,16,3.7M16,1c-4.073,0-4.584.017-6.185.09a8.974,8.974,0,0,0-6.3,2.427,8.971,8.971,0,0,0-2.427,6.3C1.017,11.416,1,11.927,1,16s.017,4.584.09,6.185a8.974,8.974,0,0,0,2.427,6.3,8.971,8.971,0,0,0,6.3,2.427c1.6.073,2.112.09,6.185.09s4.584-.017,6.185-.09a8.974,8.974,0,0,0,6.3-2.427,8.971,8.971,0,0,0,2.427-6.3c.073-1.6.09-2.112.09-6.185s-.017-4.584-.09-6.185a8.974,8.974,0,0,0-2.427-6.3,8.971,8.971,0,0,0-6.3-2.427C20.584,1.017,20.073,1,16,1Z">
											</path>
											<path
												d="M16,8.3A7.7,7.7,0,1,0,23.7,16,7.7,7.7,0,0,0,16,8.3ZM16,21a5,5,0,1,1,5-5A5,5,0,0,1,16,21Z">
											</path>
											<circle cx="24.007" cy="7.993" r="1.8"></circle>
										</svg>

										<span>Pratite nas na Instagram</span>
									</a>
								</li>

								<li>
									<a href="https://www.facebook.com/tryhellosmile" class="flex items-center">
										<svg class="icon icon--md margin-right-xxs" viewBox="0 0 16 16">
											<title>Nadjite nas na Facebook</title>
											<g>
												<path
													d="M16,8.048a8,8,0,1,0-9.25,7.9V10.36H4.719V8.048H6.75V6.285A2.822,2.822,0,0,1,9.771,3.173a12.2,12.2,0,0,1,1.791.156V5.3H10.554a1.155,1.155,0,0,0-1.3,1.25v1.5h2.219l-.355,2.312H9.25v5.591A8,8,0,0,0,16,8.048Z">
												</path>
											</g>
										</svg>

										<span>Nadjite nas na Facebook</span>
									</a>
								</li>

								<!-- <li>
									<a href="#0" class="flex items-center">
										<svg class="icon icon--md margin-right-xxs" viewBox="0 0 16 16">
											<title>Nadjite nas na Youtube</title>
											<g>
												<path
													d="M15.8,4.8c-0.2-1.3-0.8-2.2-2.2-2.4C11.4,2,8,2,8,2S4.6,2,2.4,2.4C1,2.6,0.3,3.5,0.2,4.8C0,6.1,0,8,0,8 s0,1.9,0.2,3.2c0.2,1.3,0.8,2.2,2.2,2.4C4.6,14,8,14,8,14s3.4,0,5.6-0.4c1.4-0.3,2-1.1,2.2-2.4C16,9.9,16,8,16,8S16,6.1,15.8,4.8z M6,11V5l5,3L6,11z">
												</path>
											</g>
										</svg>

										<span>Nadjite nas na Youtube</span>
									</a>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>