<section>
    <div class="container max-width-adaptive-sm margin-top-xl">
        <div class="margin-bottom-lg text-component text-points">

            <h1 class="text-center margin-bottom-sm text-points__title">Garancija</h1>
            <p class="margin-bottom-sm">Poštovani kupci,

            </p>
            <p>Ukoliko ste kupili bilo koji proizvod iz naše ponude i imate problem, naša služba podrške korisnicima je
                tu da Vam pomogne.
                Za sva pitanja, na raspolaganju Vam je <span class="font-bold">služba za reklamacije</span> na broju <a
                    class="link-fx-5" href="tel:++381694449878">
                    069 444 98 78
                </a> radnim danima
                10-17h.</p>
        </div>

        <ol class="text-points text-points--counter ">
            <li class="text-points__item col margin-bottom-md">
                <div class="text-component">
                    <h3 class="text-points__title">Saobraznost</h3>
                    <p>Zakonom o zaštiti potrošača Trgovac je odgovoran za nesaobraznost robe ugovoru koja se pojavi u
                        roku od 24 meseca od kupovine robe. Trgovac je dužan da u slučaju nesaobraznosti robe o svom
                        trošku obezbedi servisiranje iste.</p>
                    <p>Pravo na reklamaciju i besplatno servisiranje od strane Trgovca kupac gubi u slučaju neadekvatnog
                        rukovanja proizvodom i njegovim korišćenjem koje nije u skladu sa uputstvom za upotrebu, kao i u
                        slučaju da su vršene bilo kakve popravke ili pokušaji popravki od strane neovlašćenih lica.</p>
                    <p>Hello Smile garantuje za kvalitet svih proizvoda iz svog asortimana, kao i usklađenost istih sa
                        navedenim specifikacijama na sajtu.
                        Za dodatne informacije možete nas kontaktirati na <a class="link-fx-5"
                            href="mailto:reklamacije@thehellosmile.rs">
                            reklamacije@thehellosmile.rs</a></p>
                </div>
            </li>

            <li class="text-points__item col margin-bottom-md">
                <div class="text-component">
                    <h3 class="text-points__title">Reklamacije
                    </h3>
                    <p>U zavisnosti od vremena kada je nastao kvar, postoje sledeće kategorije reklamacija na
                        funkcionalnu ispravnost proizvoda:

                    </p>
                    <h4 class="text-md font-bold">1) DOA – Dead on Arrival je reklamacija u trenutku prijema
                        ili prvog puštanja u rad.

                    </h4>
                    <p>To znači sledeće:

                    </p>
                    <p>a) isporučeni proizvod je oštećen, nedostaju mu neki delovi (nekompletan je), ne odgovara
                        projektovanoj nameni ili specifikaciji. U koliko ste nakon prijema paketa utvrdili oštećenje rok
                        da prijavite oštećenje je 24 h od prijema, kako bi vasa reklamacija bila prihvaćena. Ako
                        prilikom prijema paketa utvrdite oštećenje niste u obavezi da primate paket, možete odbiti
                        prijem pošiljke. Ukoliko je uređaj koji ste primili je nekompletan ili nedostaju delovi,
                        potrebno je prijaviti u roku od 24 h uočene nedostatke.</p>
                    <p>b)prvog korištenja da je proizvod neispravan, potrebno je da nas odmah obavestite tako što ćete
                        nas kontaktirati telefonom ili nam poslati mail sa opisom problema i Vašim kontaktom.</p>
                    <h4 class="text-md font-bold">2) Reklamacija na funkcionalnu ispravnost proizvoda. </h4>
                    <p>Ako ste uređaj kupili preko web-a, kontaktirate naš call centar koji se nalaze na našoj stranici
                        i oni će dati neophodne informacije kako biste putem kurirske službe dostavili proizvod našoj
                        službi reklamacija. U slučaju slanja robe kurirskom službom u obavezi ste da adekvatno upakujete
                        uređaj, jer u slučaju fizičkog oštećenja u transportu, trošak oštećenja pada na kupca, tj
                        pošiljaoca u skladu sa zakonom o poštanskim uslugama:</p>
                    <h4 class="text-md font-bold">Član 49</h4>
                    <p>Pošiljalac je odgovoran za izbor vrste poštanske usluge prema prirodi, sadržini, stvarnoj
                        vrednosti ili značaju poštanske pošiljke za njega.

                    </p>
                    <p>Pošiljalac je odgovoran i za pravilno pakovanje sadržine i zatvaranje poštanske pošiljke.
                        Pakovanje i zatvaranje poštanskih pošiljaka mora da odgovara vrsti, obliku, masi i vrednosti
                        predmeta u pošiljci.</p>
                    <h4 class="text-md font-bold">Član 50</h4>
                    <p>Za štetu koja je prouzrokovana sadržinom ili neodgovarajućim pakovanjem poštanske pošiljke,
                        odgovoran je pošiljalac.

                    </p>
                    <h4 class="text-md font-bold">3) Reklamacija na oštećenu pošiljku</h4>

                    <p>Ukoliko Vam uređaj koji ste poručili stigne oštećen prilikom isporuke, potrebno je u roku od 24
                        sata kontaktirati kurirsku službu koja je uređaj dostavila kako bi napravili zapisnik, a zatim
                        nas obavestiti o tome.</p>
                    <h4 class="text-md font-bold">Servisiranje i povraćaj novca

                    </h4>

                    <p>Kod prijema robe koja nije bila ispravna kod prvog korištenja (DOA), serviser je u obavezi da
                        prvo proveri opravdanost reklamacije i kompletnost reklamiranog proizvoda pre nego što pristupi
                        zameni robe ili vraćanju novca. Rok za odgovor po Vašem prigovoru je 8 dana od dana podnošenja
                        reklamacije u maloprodajnom objektu, ili od dana kada uređaj bude isporučen kurirskom službom
                        našoj službi reklamacija. Nakon toga se donosi odluka o tome da li će se isporučiti novi
                        proizvod ili će novac biti vraćen.</p>
                    <p>Prodavnica Hello Smile zadržava sva prava promene cene proizvoda tako da, ako ste poručili uređaj
                        po jednoj ceni i sa tom cenom ga primili na kućnu adresu, a nakon toga je cena smanjena nemate
                        prava na povraćaj novca.</p>

                    <h4 class="text-md font-bold">Prilikom reklamacije robe za koju je Trgovac dužan za
                        nesaobraznost, kupac je dužan:



                    </h4>
                    <p>a) da reklamirani proizvod pošalje dostavnom službom u servis. Takođe, originalana ambalaža nije
                        obavezna da bi smo prihvatili reklamaciju.

                    </p>
                    <p>b) da serviseru podnese na uvid kopiju računa o kupovini (i garantni list u slučaju da je rok za
                        saobraznost robe duži od 24 meseca)

                    </p>
                    <p>c) da serviseru detaljno opiše primećenu neispravnost i opis uslova i sredine u kojoj je proizvod
                        radio kada je došlo do kvara;

                    </p>
                    <p>d) posle toga, sve informacije o statusu proizvoda koji je na servisu kupac isključivo dobija na
                        brojeve našeg call centra.

                    </p>
                    <p>Za više informacija možete nas kontaktirati na <a class="link-fx-5"
                            href="mailto:reklamacije@thehellosmile.rs">
                            reklamacije@thehellosmile.rs</a></p>


                </div>
            </li>

            <li class="text-points__item col margin-bottom-md">
                <div class="text-component">
                    <h3 class="text-points__title">Servis
                    </h3>
                    <p>Da bismo naše zajedničko poslovanje podigli na viši nivo, a u isto vreme svi izbegli nepotrebne
                        troškove, zajedno moramo poštovati sledeću <span class="font-bold">slanja robe na servis.</span>
                    </p>
                    <p class="font-italic">Ukoliko se tokom eksploatacije proizvoda dogodi kvar koji nije uzrokovan
                        nepravilnim korišćenjem uređaja, možete kontaktirati naš call centar koji će uputiti kurira na
                        Vašu adresu da preuzme neispravnu robu. U roku od 8 dana kada je reklamacija izjavljena putem
                        call centra, dobićete odgovor na Vaš zahtev i posle toga reklamacija će biti rešena u primerenom
                        roku.</p>
                    <p class="font-bold">Fizički oštećene komponente i uređaji koji nisu korišćeni prema proizvođačkoj
                        specifikaciji nemaju pravo na reklamaciju ili besplatan servis jer Trgovac nije odgovaran za
                        nesaobraznost koja je nastala oštećenjem ili nestručnim rukovanjem, rizik prelazi na kupca.</p>
                    <p class="font-bold">U slučaju fizičkog oštećenja nanetih od strane krajnjih korisnika, servis
                        zahteva dijagnostiku. Ukoliko kupac odustane od popravke dužan je da sam reguliše sve troškove
                        prema servisu. Takav vid dodatnih troškova ne snosi Trgovac.</p>
                    <p>Molimo Vas da se gore navedena procedura poštuje, jer je i u Vašem i u našem interesu da se
                        reklamacije i servis rešavaju u što je moguće kraćem roku.

                    </p>
                </div>
            </li>






        </ol>
    </div>
</section>