<div class="container max-width-adaptive-sm padding-top-xl padding-bottom-xxl position-relative z-index-1">
	<article class="article text-component">
		<h1 class="text-xxxl">Reklamacije</h1>



		<p>Toliko smo sigurni u efekat nove HelloSmile olovke da garantujemo povrat novca svakom nezadovoljnom korisniku.
			Brojimo preko 100 000 zadovoljnih korisnika, koji i jesu razlog zbog kojeg smo se odlučili na ovaj korak. <br>Sa
			ponosom garantujemo da će vaši zubi biti belji najmanje dve nijanse nakon korišćenja našeg
			produkta. <br>U slučaju da niste zadovoljni učinkom HelloSmile olovke možete je vratiti uz povraćaj novca u
			roku od 14
			dana od datuma pruzimanja HelloSmile olovke.</p>

		<p>Da biste uspešno aplicirali za povrat novca:
		</p>



		<ol class="list list--ol">
			<li> Uslikajte jasnu sliku zuba pre upotrebe našeg produkta.</li>
			<li>Upotrebite naš produkt tačno prema uputstvima</li>
			<li>Uslikajte jasnu sliku nakon četrnaeste aplikacije</li>
			<li>Pošaljite email na <a class="link-fx-5" href="mailto:reklamacije@thehellosmile.rs">
					reklamacije@thehellosmile.rs</a> s vašim pre i posle slikama</li>
			<li>Nakon odobrenja, pošaljite nam nazad proizvod po uputstvu
				Od trenutka primljene porudžbine HelloSmile olovke, 14 dana je rok da aplicirate zahtev za povraćaj
				novca.
			</li>
		</ol>

		<hr>

		<div class=" text-center margin-bottom-md ">
			<a href="https://cdn.shopify.com/s/files/1/0505/2884/6000/files/obrazac-za-odustajanje-od-ug-na-daljinu-ili-van-pp-2-11.docx?v=1609926568"
				class="btn btn--primary display@md">
				Preuzmite dokument za odustajanje od kupovine

			</a>
			<a href="https://cdn.shopify.com/s/files/1/0505/2884/6000/files/obrazac-za-odustajanje-od-ug-na-daljinu-ili-van-pp-2-11.docx?v=1609926568"
				class="btn btn--primary hide@md">
				Preuzmite dokument

			</a>
		</div>

		<p>Aplikacije koje ne ispunjavaju ove korake neće biti odobrene za povraćaj novca. <br>
			* Uverite se da ste uslikali pre i posle fotografiju pri sličnom osvetljenju, jer mi ne odobravamo povraćaj
			ako postoje drastične razlike u osvetljenju. Pre i posle fotografije moraju sadržati datum kada su uslikane.
		</p>
	</article>
</div>