<div class="position-relative z-index-1 padding-y-md padding-y-lg@md bg-gradient-tertiary-bottom"
	style="margin-top: 70px;">
	<div class="container max-width-adaptive-md position-relative z-index-2">
		<article class="t-article-v4 padding-sm padding-y-md padding-x-lg@md padding-y-xl@md shadow-xs"
			data-theme="default">
			<div class="text-component text-center line-height-lg v-space-xxl max-width-xs margin-x-auto">
				<p class="text-xs text-uppercase letter-spacing-lg color-contrast-medium">Naša priča</p>
				<h1 class="text-xl text-xxxl@md">Sinonim za zdrav i blistav osmeh</h1>
			</div>

			<div class="t-article-v4__divider margin-y-lg" aria-hidden="true"><span></span></div>

			<div class="text-component  line-height-lg v-space-md">
				<p>Svedoci smo da nam vreme u kome živimo nameće potrebu da svakog dana izgledamo
					savršeno. Bitnu ulogu u slici koju ljudi svakodnevno stvaraju o nama jeste osmeh.
					Trudimo se da vas ne izneveri i da sa ponosom možete da ga pokažete u svakoj prilici</p>

				<p>Prvobitno usredsređen na proizvodnju formule koja će bezbedno i bezbolno izbeleti zube, HelloSmile je sada
					proširio svoje poslovanje na paletu proizvoda koji ne samo da izbeljuju, već pre svega održavaju zdravlje zuba
					i desni. Upravo je to misija HelloSmile brenda koji se sada pojavljuje u jednom potpuno novom i drugačijem
					izdanju. </p>
				<div class="text-center">
					<a href="/collections" class="btn btn--primary margin-bottom-sm flex inline-flex@md">Naša paleta
						proizvoda</a>
				</div>


				<div class="text-component__block  ">
					<div class="grid gap-xxs gap-xs@md">
						<figure class="col">
							<img class="shadow-xs" src="{{ 'nasa-prica-01.jpg' | asset_url }}" alt="Image description here">
						</figure>

						<figure class="col">
							<img class="shadow-xs" src="{{ 'nasa-prica-02.jpg' | asset_url }}" alt="Image description here">
						</figure>

						<figure class="col">
							<img class="shadow-xs" src="{{ 'nasa-prica-03.jpg' | asset_url }}" alt="Image description here">
						</figure>
					</div>
				</div>

				<h2 class="text-lg text-xl@md">Garancija kvaliteta</h2>
				<p>Imajući u vidu kakve posledice prouzrokuje peroksid kao sredstvo za izbeljivanje zuba, pažljivo smo pravili
					formulu obogaćenu vitaminima i mineralima koji čine zube jačim i beljim.
					<br><br>
					Garantujemo kvalitet i odlične rezultate a u prilog tome govori 93% korisnika koji su zadovoljni našim
					proizvodima. Za nezadovoljne korisnike obezbedili smo povrat novca u roku od 14 dana.
				</p>

				<h2 class="text-lg text-xl@md">Neka blistav osmeh bude vaš lični znak!</h2>

				<p>&mdash; HelloSmile team</p>
			</div>

			<!-- <figure class="margin-top-sm">
				<img class="block opacity-80%" src="{{ 'signature.svg' | asset_url }}" alt="Author signature">
			</figure> -->
		</article>
	</div>

	<figure class="bg-decoration z-index-1 radius-md" aria-hidden="true">
		<svg class="bg-decoration__svg color-contrast-low" viewBox="0 0 1920 450" fill="none">
			<circle class="blend-overlay" opacity="0.5" cx="1745" cy="159" r="175"
				fill="url(#bg-decoration-v1-fx-4-radial-1)" />
			<circle opacity="0.5" r="65" transform="matrix(-1 0 0 1 240 110)" fill="url(#bg-decoration-v1-fx-4-radial-2)" />
			<g opacity="0.5" filter="url(#bg-decoration-v1-fx-4-filter-1)">
				<circle r="26" transform="matrix(-1 0 0 1 298 386)" fill="var(--color-primary)" />
			</g>
			<circle class="blend-overlay" opacity="0.5" cx="1470" cy="-299" r="439"
				fill="url(#bg-decoration-v1-fx-4-radial-3)" />
			<defs>
				<filter id="bg-decoration-v1-fx-4-filter-1" x="267" y="355" width="62" height="62" filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix" />
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
					<feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur" />
				</filter>
				<radialGradient id="bg-decoration-v1-fx-4-radial-1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(1745 159) rotate(90) scale(175)">
					<stop stop-color="var(--color-primary)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-primary)" />
				</radialGradient>
				<radialGradient id="bg-decoration-v1-fx-4-radial-2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="scale(65)">
					<stop stop-color="var(--color-accent)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-accent)" />
				</radialGradient>
				<radialGradient id="bg-decoration-v1-fx-4-radial-3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(1470 -299) rotate(90) scale(439)">
					<stop stop-color="var(--color-accent)" stop-opacity="0" />
					<stop offset="1" stop-color="var(--color-accent)" />
				</radialGradient>
			</defs>
		</svg>
	</figure>

</div>
{% section 'popout-kupovina' %}