<div class="container margin-top-xl@md margin-top-lg  max-width-adaptive-lg margin-bottom-lg">
    <div class="grid gap-sm ">
        <div class="col-6@md  order-1@xl order-2@md order__1">

            <p class="color-primary-lighter text-sm">Zdravlje</p>
            <h1 class="font-light  text-xxxl margin-bottom-xl@md margin-bottom-lg">Blog broj 1 - Naslovljena teme u dva
                reda teksta</h1>
            <h2 class="margin-bottom-sm">Podnaslov teme bloga</h2>
            <div class="text-content width-80%">
                <p class="margin-bottom-sm">Foregrounded throughout is the question of what these forms artifacts of
                    empire and its resistance
                    both can do for us today. However, you may opt out of receiving any of them.</p>

                <p class="margin-bottom-sm">You understand that your content (not including credit card full to
                    information), may be transferred
                    unencrypted and involve (a) is transmissions over various networks; and (b) changes to conform and
                    adapt to technical requirements of connecting networks or devices. Credit card information is always
                    encrypted during transfer over networks.</p>

                <p class="margin-bottom-sm "> Understand that your content (not including credit card
                    information), may
                    be transferred unencrypted
                    and involve (a) transmissions over various networks; and (b) changes to conform and adapt to
                    technical requirements to connect networks or devices, as always you may opt out of receiving any
                    over various networks and circles of information. Credit card information is encrypted during
                    transfer over networks.</p>
            </div>
        </div>

        <div class="col-6@md  order-2@xl order-1@md order__2">
            <figure>
                <img class="block width-100%" src="{{ 'blog-singl-1.jpg' | asset_url }}" alt="Image description">
            </figure>
        </div>
    </div>
</div>

<div class="container margin-top-xl@md margin-top-lg  max-width-adaptive-lg margin-bottom-lg width-100%">

    <h2 class=" margin-bottom-sm">Podnaslov teme bloga 2</h2>
    <p class="margin-bottom-sm">Foregrounded throughout is the question of what these forms artifacts of
        empire and its resistance
        both can do for us today. However, you may opt out of receiving any of them.</p>

    <p class="margin-bottom-sm">You understand that your content (not including credit card full to
        information), may be transferred
        unencrypted and involve (a) is transmissions over various networks; and (b) changes to conform and
        adapt to technical requirements of connecting networks or devices. Credit card information is always
        encrypted during transfer over networks.</p>

    <p class="margin-bottom-sm "> Understand that your content (not including credit card
        information), may
        be transferred unencrypted
        and involve (a) transmissions over various networks; and (b) changes to conform and adapt to
        technical requirements to connect networks or devices, as always you may opt out of receiving any
        over various networks and circles of information. Credit card information is encrypted during
        transfer over networks.</p>


</div>

<section class="padding-y-xl bg-tertiary-light color-bg">
    <div class="container max-width-adaptive-lg ">
        <div class="grid gap-sm ">

            <div class="col-4@md justify-center">
                <h2 class="text-xxl margin-bottom-xs">Prvi saznajte sve o nama <br>
                    i novim ponudama</h2>
                <p>Subscribe and get weekly digest of most popular
                    blog posts about digital marketing industry.</p>
            </div>
            <div class="col-8@md ">
                <form class="grid gap-xxs margin-top-sm">
                    <div class="col@xs min-width-0">
                        <input class="form-control width-100% height-100%" aria-label="Email" type="email"
                            placeholder="Email address">
                    </div>
                    <div class="col-content@xs">
                        <button class="btn btn--primary width-100% height-100%">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container margin-top-xl@md margin-top-lg  max-width-adaptive-lg margin-bottom-lg">
    <div class="grid gap-lg ">
        <div class="col-6@md   order__2">
            <figure>
                <img class="block width-100%" src="{{ 'blog-singl-2.png' | asset_url }}" alt="Image description">
            </figure>
        </div>
        <div class="col-6@md  order__1">
            <h2 class="margin-bottom-sm">Podnaslov teme bloga</h2>
            <div class="text-content width-80%">
                <p class="margin-bottom-sm">Foregrounded throughout is the question of what these forms artifacts of
                    empire and its resistance
                    both can do for us today. However, you may opt out of receiving any of them.</p>

                <p class="margin-bottom-sm">You understand that your content (not including credit card full to
                    information), may be transferred
                    unencrypted and involve (a) is transmissions over various networks; and (b) changes to conform and
                    adapt to technical requirements of connecting networks or devices. Credit card information is always
                    encrypted during transfer over networks.</p>

                <p class="margin-bottom-sm "> Understand that your content (not including credit card
                    information), may
                    be transferred unencrypted
                    and involve (a) transmissions over various networks; and (b) changes to conform and adapt to
                    technical requirements to connect networks or devices, as always you may opt out of receiving any
                    over various networks and circles of information. Credit card information is encrypted during
                    transfer over networks.</p>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-xl@md margin-top-lg  max-width-adaptive-lg margin-bottom-lg width-100%">

    <h2 class=" margin-bottom-sm">Podnaslov teme bloga 2</h2>
    <p class="margin-bottom-sm">Foregrounded throughout is the question of what these forms artifacts of
        empire and its resistance
        both can do for us today. However, you may opt out of receiving any of them.</p>

    <p class="margin-bottom-sm">You understand that your content (not including credit card full to
        information), may be transferred
        unencrypted and involve (a) is transmissions over various networks; and (b) changes to conform and
        adapt to technical requirements of connecting networks or devices. Credit card information is always
        encrypted during transfer over networks.</p>

    <p class="margin-bottom-sm "> Understand that your content (not including credit card
        information), may
        be transferred unencrypted
        and involve (a) transmissions over various networks; and (b) changes to conform and adapt to
        technical requirements to connect networks or devices, as always you may opt out of receiving any
        over various networks and circles of information. Credit card information is encrypted during
        transfer over networks.</p>
</div>
<div class="container max-width-adaptive-lg">
    <section class="video-bg position-relative ">
        <div class="video-bg__media" aria-hidden="true">
            <img src="../../assets/img/video-background-hero-img-1.jpg" alt="Video Preview">
            <video autoplay loop muted playsInline src="{{ 'video-2.mp4' | asset_url }}"></video>
        </div>

        <div class="container max-width-lg position-relative z-index-2">
            <div class="flex flex-center padding-y-xxxl">
                <div class="text-component text-center">
                    <h1 class="">Responsive Video Background</h1>
                </div>
            </div>
        </div>
    </section>
</div>