<div class="container max-width-adaptive-sm padding-top-xl padding-bottom-xxl position-relative z-index-1">
	<article class="article text-component">
		<h1 class="text-xxxl margin-bottom-sm">Opšti uslovi</h1>

		<h3 class="text-md font-bold">Kupovina u Try Hello Smile internet prodavnici</h3>

		<p>Try Hello Smile je internet prodavnica koja posluje u skladu sa važećim zakonima i propisima u Republici
			Srbiji.</p>
		<p>Usluge Try HelloSmile Shopa dostupne su na internet stranicama <a class="link-fx-5"
				href="https://tryhellosmile.com/">tryhellosmile.com</a>, dalje u tekstu Try Hello Smile Shop. Stranice Try Hello
			Smile Shop mogu se koristiti za Vašu privatnu upotrebu bez ikakvih naknada za korišćenje, a prema niže navedenim
			uslovima i pravilima.</p>

		<p>Korišćenjem Try Hello Smile Shop obavezujete se da ćete poštovati niže navedene uslove i pravila i da ste sa
			istim saglasni.</p>

		<p>Isporučilac poručene robe je “SMILEON TEETH“ DOO ( dalje: “SMILEON TEETH“ DOO ) koristeći mrežu kurirskih
			službi.</p>
		<p>Kupcem se smatra svaka osoba koja se registruje i elektronski naruči barem jedan proizvod, popuni tražene
			podatke i na taj način izvrši online kupovinu. Sve cene su izražene u dinarima sa PDV-om i orijentacionog su
			karaktera.</p>


		<p>Za naručivanje proizvoda iz ponude Try Hello Smile Shop potrebno je da ispratite sledeće korake:</p>

		<ol class="list list--ol">
			<li>registracija</li>
			<li>poručivanje robe</li>
			<li>dostava</li>
			<li>plaćanje</li>
			<li>povrat/reklamacija robe</li>
		</ol>

		<hr>

		<h4 class="font-bold">Registracija</h4>

		<p>Da biste se registrovali na Try Hello Smile Shop, morate imati najmanje 18 godina.</p>
		<p>Kupac snosi odgovornost za tačnost unetih podataka prilikom registracije.</p>
		<p>“SMILEON TEETH“ DOO se obvezuje da će čuvati privatnost svih registrovanih kupaca.</p>
		<p>Ukoliko dođe do bilo kakve promene podataka koje ste uneli prilikom registracije, molimo Vas da blagovremeno
			ažurirate Vaš korisnički račun, odnosno obavestite nas o nastalim promenama putem maila <a class="link-fx-5"
				href="mailto:reklamacije@tryhellosmile.com">
				reklamacije@tryhellosmile.com</a></p>

		<hr>

		<h4 class="text-md font-bold">Poručivanje robe</h4>
		<p>Proizvodi se poručuju elektronskim putem. Da biste započeli kupovinu, potrebno je da kliknete pored željenog
			proizvoda na taster kupi. Odabrani proizvod će biti dodat u potrošačku torbu.</p>
		<p>Da biste videli trenutno odabrane artikle koje ste odabrali da kupite kliknite na opciju Korpa u meniju. Kada
			se nađete na ovoj strani možete obrisati neki artikal koji ne želite da kupite ili da promenite željenu
			količinu.</p>
		<p>Kada želite da završite kupovinu kliknite na opciju u meniju Naplata. Otvoriće se stranica na kojoj treba da
			unesete Vaše kontakt podatke, kako bismo znali gde da Vam dostavnimo poručene artikle.</p>
		<p>Kada ste popunili sve podatke, kliknite na taster Poručite i Vaša porudžbina će biti finalizirana, a Vi ćete
			biti prebačeni na stranu gde unosite podatke za plaćanje.</p>

		<p>U slučaju da imate problema pri kupovini, možete nas kontaktirati putem meila <a class="link-fx-5"
				href="mailto:reklamacije@tryhellosmile.com">
				reklamacije@tryhellosmile.com</a></p>
		<p>“SMILEON TEETH“ DOO se obavezuje će isporučiti sve poručene proizvode koje u trenutku isporuke ima na
			zalihama prodavnice iz koje se isporučuje roba na adresu kupca.</p>
		<hr>

		<h4 class="text-md font-bold">Plaćanje</h4>
		<p>Plaćanje se vrši tako što Vas nakon stranice naplata preusmeravamo na internet stranicu našeg procesora
			platnih kartica.</p>
		<hr>
		<h4 class="text-md font-bold">Zaštita poverljivih podataka o transakciji</h4>
		<p>Prilikom unošenja podataka o platnoj kartici, poverljive informacija se prenose putem javne mreže u
			zaštićenoj (kriptovanoj) formi upotrebom SSL protokola i PKI sistema, kao trenutno najsavremenije
			kriptografske tehnologije.</p>
		<p>Sigurnost podataka prilikom kupovine, garantuje procesor platnih kartica, Banca Intesa ad Beograd, pa se tako
			kompletni proces naplate obavlja na stranicama banke. Niti jednog trenutka podaci o platnoj kartici nisu
			dostupni našem sistemu.</p>
		<hr>
		<h4 class="text-md font-bold">Konverzija pri plaćanju</h4>
		<p>Sva plaćanja biće izvršena u lokalnoj valuti Republike Srbije – dinar (RSD).</p>
		<p>Za informativni prikaz cena u drugim valutama koristi se srednji kurs Narodne Banke Srbije.</p>
		<p>Iznos za koji će biti zadužena Vaša platna kartica biće izražen u Vašoj lokalnoj valuti kroz konverziju u
			istu po kursu koji koriste kartičarske organizacije, a koji nama u trenutku transakcije ne može biti poznat.
			Kao rezultat ove konverzije postoji mogućnost neznatne razlike od originalne cene navedene na našem sajtu.
			Hvala Vam na razumevanju.</p>
		<hr>
		<h4 class="text-md font-bold">Povraćaj sredstava</h4>
		<p>U slučaju vraćanja robe i povraćaja sredstava kupcu koji je prethodno platio nekom od platnih kartica,
			delimično ili u celosti, a bez obzira na razlog vraćanja, TryHelloSmile.rs je u obavezi da povraćaj vrši
			isključivo preko VISA, EC/MC i Maestro metoda plaćanja, što znači da će banka na zahtev prodavca obaviti
			povraćaj sredstava na račun korisnika kartice.</p>
		<hr>
		<h4 class="text-md font-bold">Dostava robe</h4>
		<p>Poručena roba biće spakovana na način da se uobičajenom manipulacijom u transportu ne može oštetiti.</p>
		<p>Sve porudžbine Kupcu se dostavljaju od strane dostavljača angažovanog od strane “SMILEON TEETH“ DOO.</p>
		<p>Proveru ispravnosti porudžbine vrši kupac. Kupac je dužan da odmah po prijemu pregleda isporučenu robu, te da
			o svim eventualnim nedostacima odmah obavesti dostavljača.</p>
		<p>Kupac je dužan da prilikom preuzimanja poručene robe proveri eventualna oštećenja i odmah ih reklamira
			dostavnom radniku koji je robu dostavio, kao i da odbije preuzimanje isporučene robe na kojoj su vidljiva
			oštećenja. Ukoliko naknadno primeti oštećenja na robi i robu nije vratio dostavljaču, kupac ima mogućnost da
			nas kontaktira putem meila <a class="link-fx-5" href="mailto:reklamacije@tryhellosmile.com">
				reklamacije@tryhellosmile.com</a> kako bi robu preuzeli skladno dogovoru s kupcem.</p>
		<p>Ukoliko kupac odbije porudžbinu pogrešno isporučenih artikala, dostavljač na samom prijemu mora da ustanovi
			kako je došlo do greške u zameni artikala, tako što konsultuje Kupca i poziva korisnički centar SMILEON
			TEETH. “SMILEON TEETH“ DOO zadržava pravo da odbije dostavu poručene robe ukoliko utvrdi kršenje ovih uslova
			i pravila oglašenih na web sajtu.</p>
		<p>Ukoliko je kupac napravio grešku, cenu dostave plaća kupac, a roba se vraća Try Hello Smile Shop. Troškove
			slanja prilikom vraćanja i zamene kupljene robe snosi kupac, osim u slučaju kada kupac dobije neispravan ili
			pogrešan artikal, tada troškove slanja plaća Try Hello Smile Shop.</p>
		<p>“SMILEON TEETH“ DOO nije odgovoran za način i kvalitet usluge koju vrši dostavljač.</p>
		<p>Dostavljač se obavezuje da dostravu porudžbine izvršava stručno i odgovorno u skladu sa pravilima službe i
			Opštim uslovima e-commerce poslovanja Try Hello Smile Shop .</p>
		<p>U slučaju kašnjenja u isporuci usled kvara na dostavnom vozilu ili drugiim objektivnim ili subjektivnim
			razlozima dostavljača, , trošak dostave snosi dostavljač</p>
		<p>Jedan kupac može kreirati veći broj porudžbina u jednom danu.</p>
		<p>Ukoliko Kupac ima potrebe za posebnim vremenom dostave (npr rođendan ili drugi događaj koji počinje u
			određeno vreme pa je potrebno tome se prilagoditi), molimo vas da to naglasite u napomenama, kako bismo
			mogli da Vam izađemo u susret.</p>
		<hr>
		<h4 class="text-md font-bold">Troškovi dostave robe</h4>
		<p>Trošak dostave je istaknut pored svakog proizvoda.</p>
		<hr>
		<h4 class="text-md font-bold">Povrat/Reklamacija robe</h4>
		<p>Više informacija, dokumente i procedure za povrat ili reklamaciju možete pronaći na stranici
			<a class="link-fx-5" href="/pages/reklamacije">
				Reklamcije</a>
		</p>
		<hr>
		<h4 class="text-md font-bold">Privatnost podataka</h4>
		<p>U ime TryHelloSmile.rs obavezujemo se da ćemo čuvati privatnost svih naših kupaca. Prikupljamo samo
			neophodne, osnovne podatke o kupcima/ korisnicima i podatke neophodne za poslovanje i informisanje korisnika
			u skladu sa dobrim poslovnim običajima i u cilju pružanja kvalitetne usluge. Dajemo kupcima mogućnost izbora
			uključujući mogućnost odluke da li žele ili ne da se izbrišu sa mailing lista koje se koriste za marketinške
			kampanje. Svi podaci o korisnicima/kupcima se strogo čuvaju i dostupni su samo zaposlenima kojima su ti
			podaci nužni za obavljanje posla. Svi zaposleni TryHelloSmile.rs (i poslovni partneri) odgovorni su za
			poštovanje načela zaštite privatnosti.</p>
		<hr>
		<h4 class="text-md font-bold">Dostupnost Try Hello Smile ShopPrivatnost podataka</h4>
		<p>Dostupnost Try Hello Smile Shop

			“SMILEON TEETH“ DOO nastoji da Vam da najbolju moguću ponudu usluga, pri čemu ne može garantovati da će
			usluge na internet stranici Try Hello Smile Shop odgovarati Vašim potrebama. “SMILEON TEETH“ DOO takođe ne
			može garantovati da će usluga biti bez grešaka. Ukoliko dođe do greške, molimo Vas da je prijavite našem
			Kontakt centru ili na meil reklamacije@tryhellosmile.com kako bismo je otklonili na najbrži mogući način.</p>
		<hr>

		<h4 class="text-md font-bold">Povezane Internet stranice</h4>
		<p>Web stranice Try Hello Smile Shop uključuje linkove na druge internet stranice, materijali na tim stranicama
			su izvan kontrole “SMILEON TEETH“ DOO, korisnici na njih pristupaju na vlastitu odgovornost i rizik te stoga
			“SMILEON TEETH“ DOO nije odgovorana za sadržaj na tim stranicama</p>
		<p>Deo web stranica Try Hello Smile Shop predviđen je za oglašavanje i oglašivači su odgovorni da ti materijali
			budu usaglašeni sa zakonskim normama i pravilima. “SMILEON TEETH“ DOO nije odgovorana za bilo kakve greške i
			nepravilnosti marketinških materijala.</p>
		<hr>
		<h4 class="text-md font-bold">Važenje pravila</h4>
		<p>“SMILEON TEETH“ DOO zadržava pravo da u bilo kom trenutku, ukoliko to smatra potrebnim, ukine ili izmeni bilo
			koji od ovde navedenih Uslova i pravila korišćenja. Bilo kakva izmena ili ukidanje Uslova i pravila
			korišćenja stupiće na snagu odmah u trenutku objavljivanja istih na internet stranicama Try Hello Smile
			Shop. Ako web stranice Try Hello Smile Shop nastavite da koristite nakon što su izmenjeni Uslovi i pravila
			korišćenja, smatra se da ste saglasni s novim Uslovima i pravilima korišćenja Try Hello Smile Shop. “SMILEON
			TEETH“ DOO neće biti odgovoran ni za kakve moguće posledice proizašle iz promena web sadržaja.</p>
		<p>Ako se ne slažete s Uslovima i pravilima korišćenja Try Hello Smile Shop, molimo Vas nemojte koristiti web
			stranice Try Hello Smile Shop, a Vas molimo obratite se našem Kontakt centru ili putem meila:
			<a class="link-fx-5" href="mailto:reklamacije@tryhellosmile.com">
				reklamacije@tryhellosmile.com</a>, a kako bismo Vas izbrisali iz baze korisnika Try Hello Smile Shop.
		</p>
	</article>
</div>